<div 
    id="{{ id }}"
    class="select-wrapper" 
    tabindex="-1"

    hx-post="/_empty"
    hx-trigger="focusout[!this.contains(event.relatedTarget)] delay:1ms"
    hx-target="#{{ id }}_options"
    hx-swap="innerHTML"
    
    {% if hx_swap_oob %} 
        hx-swap-oob="true"
    {% endif %}
>
    <input
        id="{{ id }}--value"
        type="text"
        autocomplete="off"
        value="{{ value }}"
        name="{{ id }}--value"

        {% if has_search_trigger %} 
            hx-post="/{{ name }}/{{ id }}/search" 
            hx-trigger="input, focus" 
            hx-swap="none" 
            hx-include="{{ search_hx_include }}"
        {% endif %}
    />

    <div id="{{ id }}_options" class="select-list-container">
        {% if options|length > 0 %}
        <ul class="select-list">
            {% for option in options %}
                <li 
                    class="select-list-item"
                    {% if has_select_trigger %} 
                        hx-post="/{{ name }}/{{ id }}/select" 
                        hx-trigger="click" 
                        hx-swap="none" 
                        hx-include="{{ select_hx_include }}"
                        hx-vals='{"{{ id }}--value": {{ option }}}'
                    {% endif %}
                >{{ option }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>